#fondo {
    background-color:rgb(0, 0, 0);     
   
}

#fondo1{
    background-color: rgb(0, 0, 0);
   
   
}

h1:hover {
   color:saddlebrown;
}
h1{
    color: aliceblue;
}
h2 {
    color: rgb(255, 255, 254)
}
h2:hover{
    color: saddlebrown;
}
p {
    color: rgb(255, 253, 251);
}
p:hover{
    color:saddlebrown;
}
p {
   font-family:unset;
   opacity: 0;
   animation:2s fadein forwards; 
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
.Y{
 animation-iteration-count: infinite;

}  
.fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.fotos img{
    width: 100%;
    max-width: 220px;
}

@media (max-width: 768px){
    .fotos img {
        max-width: 100%;
    }
}
.fotos{
    display:flex;
    transition: transform 0,3s, filter 0.3s;

}
.fotos:hover{
    transform: scale(1.05);
    filter: brightness(1.2)
}
#verImagenes{
    background-color: #ff9800;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}
#verImagenes:hover{
    background-color: #e68900;
    transform: scale(1.05);
}
.galeria{
    background-color: rgb(41, 27, 27);
}
.libreta{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 50px auto;
    perspective: 1200px;
    overflow: visible;
}


    .pagina{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    transform-origin: left;
    transition: transform 1s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);

    backface-visibility: hidden;
}

.pagina img{
    
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.pagina p{
    text-align: center;
    font-weight: bold;
}


.pagina:nth-of-type(1){ z-index: 8; }
.pagina:nth-of-type(2){ z-index: 7; }
.pagina:nth-of-type(3){ z-index: 6; }
.pagina:nth-of-type(4){ z-index: 5; }
.pagina:nth-of-type(5){ z-index: 4; }
.pagina:nth-of-type(6){ z-index: 3; }
.pagina:nth-of-type(7){ z-index: 2; }
.pagina:nth-of-type(8){ z-index: 1; }


.libreta:hover .pagina:nth-of-type(1){
    transform: rotateY(-170deg);
    
}

.libreta:hover .pagina:nth-of-type(2){
    transform: rotateY(-170deg);
    transition-delay: .3s;
}

.libreta:hover .pagina:nth-of-type(3){
    transform: rotateY(-170deg);
    transition-delay: .6s;
}

.libreta:hover .pagina:nth-of-type(4){
    transform: rotateY(-170deg);
    transition-delay: .9s;
}
.libreta:hover .pagina:nth-of-type(5){
    transform: rotateY(-170deg);
    transition-delay: 1.2s;
}
.libreta:hover .pagina:nth-of-type(6){
    transform: rotateY(-170deg);
    transition-delay: 1.5s;
}
.libreta:hover .pagina:nth-of-type(7){
    transform: rotateY(-170deg);
    transition-delay: 1.8s;
}
.libreta:hover .pagina:nth-of-type(8){
    transform: rotateY(-170deg);
    transition-delay: 2.1s;
}
@media (max-width: 768){
    .libreta{
        width: 250px;
        height: 330px;
    }
}
.paginas¿ img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.libreta{
    filter: drop-shadow(0 10px 20px rgba(0,0,0.3s));
}
.corazon{
    position: fixed;
    font-size: 25px;
    color: #8B4513; /* marrón */
    animation: caer 5s linear infinite;
}

.corazon:nth-child(1){ left: 10%; animation-delay: 0s; }
.corazon:nth-child(2){ left: 30%; animation-delay: 1s; }
.corazon:nth-child(3){ left: 50%; animation-delay: 2s; }
.corazon:nth-child(4){ left: 70%; animation-delay: 3s; }
.corazon:nth-child(5){ left: 90%; animation-delay: 4s; }

@keyframes caer{
    from{
        top: -50px;
    }
    to{
        top: 100vh;
    }
}
